{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="styles.css">

    <center>
        <h2 color='red'>WELCOME TO THE HOME PAGE</h3>
    </center>
</head>

<body>

    <center>
        <br><br><br><br><br><br>
        <div >
            <ul >
                <li><a href="{%url 'student'%}"><button type="submit">Student</button></a></li><br><br><br>
                <li><a  href="{%url 'faculty'%}"><button type="submit">Faculty</button></a></li>
            </ul>
        </div>
    </center>
</body>
</html>

</body>
</html>
